.app {
    display: flex;
  }
  
  canvas {
    position: absolute;
  }
  
  .newPostCard {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  label {
    display: flex;
  }
  
  .addImg {
    width: 48px;
    cursor: pointer;
  }
  
  .postForm {
    display: flex;
    flex-direction: row;
  }
  
  .avatar {
    width: 150px;
    height: 150px;
  }
  
  button {
    border: none;
    padding: 11px 32px;
    border-radius: 5px;
    color: white;
    background-color: teal;
    cursor: pointer;
    margin-left: 5px;
  }
  
  .postInput {
    height: 30px;
    border: none;
    margin-bottom: 10px;
  }
  
  .container {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: -1;
  }
  
  .left {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 300;
  }
  
  .rightInput {
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .rightButton {
    padding: 10px 20px;
    font-weight: bold;
  }
  
  .friendInput {
    position: absolute;
    padding: 10px;
    font-weight: bold;
    border: none;
  }
  
  .friends {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .name {
    font-weight: bold;
  }
  